.sidebar {
  width: 240px;
  background-color: #1e2a38;
  color: white;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow-y: scroll; /* mantém funcionalidade */
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.sidebar.closed {
  width: 60px;
}

.logo-container {
  padding: 20px;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.closed .logo-container img {
  display: none;
}

.logo {
  max-height: 50px;
  max-width: 100%;
  object-fit: contain;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.sidebar nav ul li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.sidebar nav ul li a span {
  margin-left: 10px;
  overflow: hidden;
}

.sidebar nav ul li:hover {
  background-color: #2c3e50;
}

.sidebar nav ul li a:hover {
  color: #007bff;
}

.sidebar.closed nav ul li {
  justify-content: center;
}

.sidebar .cadastros-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar .cadastros-link {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.sidebar .cadastros-submenu {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
  font-size: 14px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 500px;
  opacity: 1;
}

.sidebar .cadastros-submenu.closed {
  max-height: 0;
  opacity: 0;
}

.sidebar .cadastros-submenu li {
  padding: 5px 0 5px 15px;
}

.sidebar .cadastros-submenu li a {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
  padding: 10px 15px;
}

.sidebar .cadastros-submenu li a:hover {
  color: #007bff;
  background-color: #2c3e50;
}

@media (max-width: 730px) {
  .sidebar.open {
    width: 60px;
  }

  .sidebar .logo-container img {
    display: none;
  }

  .sidebar span {
    display: none;
  }

  .cadastros-submenu {
    display: none !important;
  }

  .toggle-button {
    display: none;
  }
}
