.viagens-container {
  padding: 20px;
}

.viagem-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.viagem-header {
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.viagem-detalhes {
  padding: 10px;
  background-color: #fafafa;
}

.button-edit {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
